.shopping-lists-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 2rem 2rem;
}

.shopping-lists {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 2.5rem);
  align-items: center;
}

.shopping-lists h2 {
  font-size: 2rem;
  color: #111827;
  margin-bottom: 2rem;
  text-align: center;
}

.shopping-list{
  width: 95%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
